.header {
  height: rem(75);
  width: 100%;
  background-color: var(--color-bg-tertiary);
  
  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 rem(20);
  }
}
