/* Главный файл стилей - импортирует все остальные */

/* 1. Переменные */
@import './variables.scss';

/* 2. Сброс стилей */
@import './reset.scss';

/* 3. Ваши глобальные стили приложения */
/* Добавьте сюда свои стили, если нужно */
