/* Главный файл стилей - импортирует все остальные */

/* 1. Миксины и функции (должны быть первыми) */
@import './mixins.scss';

/* 2. Переменные */
@import './variables.scss';

/* 3. Сброс стилей */
@import './reset.scss';

/* 4. Ваши глобальные стили приложения */
/* Добавьте сюда свои стили, если нужно */
