/* Главный файл стилей - импортирует все остальные */

/* 1. Переменные (должны быть первыми) */
@import './variables.scss';

/* 2. Сброс стилей */
@import './reset.scss';

/* 3. Утилитарные классы */
@import './utilities.scss';

/* 4. Ваши глобальные стили приложения */
/* Добавьте сюда свои стили, если нужно */
